.navhead, .navheadmenus > li > a, #navheadinside, .banner {
	background-color: #38ADE8;
	color: #FAFAFA;
}

#navheadinside > li {
	border-bottom: 1px solid #38ADE8;
}

#navheadinside > li > a {
	color: #FAFAFA;
}

.banner {
	color: #FAFAFA;
}

.featuredbox {
	border-left: solid 1px #507C91;
	border-right: solid 1px #507C91;
	border-bottom: solid 2px #436475;
}