#slides ul, #slides li, #slides img {
  width: 560px;
  height: 315px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#carousel > * {

}

#carousel{
  position: relative;
  margin:25px auto;
  width:560px;
  height: 350px;
  overflow: hidden;
}

#slides{
  /* border:1px solid black; */
  /* border-radius: 7px; */
  border-left: solid 1px #D4B353;
  border-right: solid 1px #D4B353;
  height: 315px;
  overflow: hidden;
}

#slides ul{
  position:relative;
  left: 0px;
  height: 315px;
  width: 400%;
  list-style: none;
}

#slides li{
  float:left;
}

.slide{
  display:inline-block;
}

.arrow{
  position:absolute;
  top:150px;
  border-radius: 100px;
  background-color: rgba(0,0,0,0.5);
  width : 25px;
  height : 25px;
}

.left{
  left:20px;
}

.right{
  right:20px;
}

.circles{
  clear:both;
  position:absolute;
  top:300px;
  width:180px;
  margin-top:20px;
  margin-left:auto;
  
}

.circles ul{
  list-style: none;
}

.circles li{
  margin-right:20px;
  float:left;
}

.circles li:last-child{
  margin-right:0;
  float:left;
}

.circle{
  border-radius: 100px;
  width : 20px;
  height : 20px;
  border:1px solid black;
}

.active{
  background-color: black;
}